<div class="centered-container">
  <h1>
    Welcome <span id="username">{{ username }}</span>
  </h1>
  <ui5-product-switch>
    <ui5-product-switch-item
      title-text="Chat Models"
      subtitle-text="Get the best out of AI"
      icon="ai"
      routerLink="/chat-models"
    ></ui5-product-switch-item>
    <ui5-product-switch-item
      routerLink="/system-messages"
      title-text="System Messages"
      subtitle-text="Customize the AI model"
      icon="letter"
    ></ui5-product-switch-item>
    <ui5-product-switch-item
      routerLink="/agents"
      title-text="Agents"
      subtitle-text="Message & Model"
      icon="personnel-view"
    ></ui5-product-switch-item>
    <ui5-product-switch-item
      routerLink="/chats"
      title-text="Chats"
      subtitle-text="Talk to someone or something"
      icon="personnel-view"
    ></ui5-product-switch-item>
    <ui5-product-switch-item
      routerLink="/user-settings"
      title-text="User Information"
      subtitle-text="Get to know yourself"
      icon="person-placeholder"
    ></ui5-product-switch-item>
  </ui5-product-switch>
</div>
