<div class="login-container">
  <form [formGroup]="registerForm" class="login-form">
    <div *ngIf="error && !hideError">
      <ui5-message-strip design="Negative" (close)="onCloseError()">{{
        error
      }}</ui5-message-strip>
    </div>
    <br />
    <div class="form-group">
      <ui5-label required for="username">Username</ui5-label>
      <ui5-input
        id="username"
        formControlName="username"
        placeholder="Enter your username"
      ></ui5-input>
      <div
        *ngIf="
          registerForm.get('username')?.invalid &&
          registerForm.get('username')?.touched
        "
        class="error-message"
      >
        Username is required
      </div>
    </div>

    <div class="form-group">
      <ui5-label required for="password">Password</ui5-label>
      <ui5-input
        id="password"
        type="Password"
        formControlName="password"
        placeholder="Enter your password"
      ></ui5-input>
      <div
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
        class="error-message"
      >
        Password is required
      </div>
    </div>

    <ui5-button
      design="Emphasized"
      type="submit"
      [disabled]="registerForm?.invalid"
      (click)="onSubmit()"
      >Register</ui5-button
    >
    <div>
      <p>If you already have an account, <a href="/login">login here</a>.</p>
    </div>
  </form>
</div>
