<ui5-shellbar
  id="shellbar"
  primary-title="AI Hub"
  secondary-title="One place for all things AI"
  (profile-click)="onOpenProfilePopover()"
  (logo-click)="onNavigateToHome()"
  (menu-item-click)="onNavigate($event)"
>
  <ui5-avatar
    id="profile"
    interactive="true"
    slot="profile"
    icon="person-placeholder"
  >
  </ui5-avatar>
  <img slot="logo" src="assets/logo.jpeg" />
  <ui5-li (click)="onNavigate('/home')" slot="menuItems">Home</ui5-li>
  <ui5-li (click)="onNavigate('/system-messages')" slot="menuItems"
    >System Messages</ui5-li
  >
  <ui5-li (click)="onNavigate('/chat-models')" slot="menuItems"
    >Chat Models</ui5-li
  >
  <ui5-li (click)="onNavigate('/agents')" slot="menuItems">Agents</ui5-li>
</ui5-shellbar>
<ui5-popover
  placement="Bottom"
  #profilePopover
  opener="profile"
  header-text="Profile"
>
  <div class="action-popover-content" style="margin-top: 1rem">
    <ui5-list separators="None">
      <ui5-li (click)="openSettings()" icon="settings">Settings</ui5-li>
      <ui5-li (click)="logout()" icon="log">Sign out</ui5-li>
    </ui5-list>
  </div>
</ui5-popover>
