<div class="login-container">
  <form [formGroup]="loginForm" class="login-form">
    <div *ngIf="error && !hideError">
      <ui5-message-strip design="Negative" (close)="onCloseError()">{{
        error
      }}</ui5-message-strip>
    </div>
    <br />
    <div class="form-group">
      <ui5-label i18n required for="username">Username</ui5-label>
      <ui5-input
        id="username"
        formControlName="username"
        placeholder="Enter your username"
        i18n-placeholder
      ></ui5-input>
      <div
        i18n
        *ngIf="
          loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched
        "
        class="error-message"
      >
        Username is required
      </div>
    </div>

    <div class="form-group">
      <ui5-label i18n required for="password">Password</ui5-label>
      <ui5-input
        id="password"
        type="Password"
        formControlName="password"
        placeholder="Enter your password"
        i18n-placeholder
      ></ui5-input>
      <div
        i18n
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="error-message"
      >
        Password is required
      </div>
    </div>

    <ui5-button
      i18n
      design="Emphasized"
      type="submit"
      [disabled]="loginForm.invalid"
      (click)="onSubmit()"
      >Login</ui5-button
    >
    <div>
      <p>
        <span i18n>If you don't have an account,</span>
        <a i18n href="/register">register here</a>.
      </p>
    </div>
  </form>
</div>
