<ui5-card>
  <ui5-card-header
    slot="header"
    title-text="Chat Agents"
    [additionalText]="agents?.length"
  >
    <ui5-icon name="personnel-view" slot="avatar"></ui5-icon>
    <ui5-button
      (click)="onNavigateToCreateAgent()"
      design="Positive"
      slot="action"
      >Create</ui5-button
    >
  </ui5-card-header>

  <div>
    <ui5-table slot="content" no-data-text="No Data">
      <ui5-table-column slot="columns">
        <span>Name</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Description</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Model</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>System Message</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Action</span>
      </ui5-table-column>

      <!-- Iterate over the messages array -->
      <ui5-table-row *ngFor="let agent of agents">
        <ui5-table-cell>
          {{ agent.name }}
        </ui5-table-cell>
        <ui5-table-cell>
          {{ agent.description }}
        </ui5-table-cell>
        <ui5-table-cell>
          {{ agent.systemMessageId }}
        </ui5-table-cell>
        <ui5-table-cell>
          {{ agent.modelId }}
        </ui5-table-cell>
        <ui5-table-cell>
          <ui5-button design="Negative" (click)="deleteAgent(agent?.id)"
            >Delete</ui5-button
          >
          <ui5-button design="Information">Chat</ui5-button>
        </ui5-table-cell>
      </ui5-table-row>
    </ui5-table>
  </div>
</ui5-card>
