<ui5-card>
  <ui5-card-header
    slot="header"
    i18n-title-text
    title-text="Chat Models"
    [additionalText]="models?.length"
  >
    <ui5-icon name="ai" slot="avatar"></ui5-icon>
    <ui5-button
      i18n
      *ngIf="hasAdminAccess"
      (click)="onNavigateToCreateModel()"
      design="Positive"
      slot="action"
      >Create</ui5-button
    >
  </ui5-card-header>

  <div>
    <ui5-table slot="content" i18n-no-data-text no-data-text="No Data">
      <ui5-table-column slot="columns">
        <span i18n>Type</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span i18n>Name</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span i18n>Description</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span i18n>Action</span>
      </ui5-table-column>

      <!-- Iterate over the messages array -->
      <ui5-table-row *ngFor="let model of models">
        <ui5-table-cell>
          <ui5-tag design="Information">{{ model.type }}</ui5-tag>
        </ui5-table-cell>
        <ui5-table-cell>
          {{ model.name }}
        </ui5-table-cell>
        <ui5-table-cell>
          {{ model.description }}
        </ui5-table-cell>
        <ui5-table-cell>
          <div class="action-container">
            <ui5-button (click)="onChat(model.id)" design="Information"
              >Chat</ui5-button
            >
            <ui5-button
              i18n
              *ngIf="hasAdminAccess"
              design="Negative"
              (click)="deleteModel(model.id)"
              >Delete</ui5-button
            >
          </div>
        </ui5-table-cell>
      </ui5-table-row>
    </ui5-table>
  </div>
</ui5-card>
