<ui5-card>
  <ui5-card-header slot="header" title-text="Create Chat Model">
    <ui5-icon name="personnel-view" slot="avatar"></ui5-icon>
  </ui5-card-header>
  <div *ngIf="error">
    <ui5-message-strip design="Negative" hide-close-button>{{
      error
    }}</ui5-message-strip>
  </div>
  <div *ngIf="success">
    <ui5-message-strip design="Positive" hide-close-button>
      Agent Successfully Created
    </ui5-message-strip>
    <div class="view-models-container">
      <ui5-button routerLink="/agents" design="Positive"
        >View Agents</ui5-button
      >
    </div>
  </div>
  <form [formGroup]="form" class="form-container">
    <ui5-label required for="name">Name:</ui5-label>
    <ui5-input id="name" formControlName="name"></ui5-input>
    <div
      *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
      class="error-message"
    >
      {{ form.get('name')?.errors?.['required'] ? 'Name is required' : 'Name is too long' }}
    </div>

    <ui5-label required for="description">Description:</ui5-label>
    <ui5-input id="description" formControlName="description"></ui5-input>
    <div
      *ngIf="
        form.get('description')?.invalid && form.get('description')?.touched
      "
      class="error-message"
    >
      {{ form.get('description')?.errors?.['required'] ? 'Description is required' : 'Description is too long' }}
    </div>

    <ui5-label required for="message">System Message:</ui5-label>
    <ui5-select #message id="message">
      <ui5-option *ngFor="let msg of systemMessage" [value]="msg.id">{{
        msg.message
      }}</ui5-option>
    </ui5-select>

    <ui5-label required for="model">Model:</ui5-label>
    <ui5-select #model id="model">
      <ui5-option *ngFor="let model of models" [value]="model.id">{{
        model.name
      }}</ui5-option>
    </ui5-select>

    <ui5-button [disabled]="success" design="Emphasized" (click)="onSubmit()"
      >Submit</ui5-button
    >
  </form>
</ui5-card>
