.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  max-width: 400px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 2em;
}

.form-container ui5-label {
  text-align: left;
  padding-bottom: 5px; /* Space between label and input */
}

.form-container ui5-input {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: -10px; /* Adjust position closer to input if needed */
}

/* Centering the form within the viewport */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

ui5-card {
  width: 100%;
  max-width: 500px; /* Limit the maximum width of the card */
  border-radius: 8px;
}

.view-models-container {
  margin-top: 1em;
  text-align: center;
}
