<ui5-card>
  <ui5-card-header
    slot="header"
    i18n-title-text
    title-text="Chats"
    [additionalText]="chats.length"
  >
    <ui5-icon name="letter" slot="avatar"></ui5-icon>
  </ui5-card-header>

  <div>
    <ui5-table slot="content" i18n-no-data-text no-data-text="No Data">
      <ui5-table-column slot="columns">
        <span i18n>Created</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span i18n>Model</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span i18n>Agent</span>
      </ui5-table-column>

      <!-- Iterate over the messages array -->
      <ui5-table-row *ngFor="let chat of chats">
        <ui5-table-cell> {{ chat.created | date : "medium" }} </ui5-table-cell>
        <ui5-table-cell>
          {{ chat.modelId ? models.get(chat.modelId)?.name : "No Model" }}
        </ui5-table-cell>
        <ui5-table-cell>
          {{ chat.agentId ? chat.agentId : "No Agent" }}
        </ui5-table-cell>
        <ui5-table-cell>
          <div class="action-container">
            <ui5-button i18n design="Positive" (click)="openChat(chat.id)"
              >Open</ui5-button
            >
            <ui5-button i18n design="Negative" (click)="deleteChat(chat.id)"
              >Delete</ui5-button
            >
          </div>
        </ui5-table-cell>
      </ui5-table-row>
    </ui5-table>
  </div>
</ui5-card>
