<div class="settings-container">
  <h2 i18n>User Information</h2>

  <form [formGroup]="form">
    <ui5-message-strip
      i18n
      #success
      (close)="onHideSuccess()"
      *ngIf="success"
      design="Positive"
    >
      User Information Successfully Updated
    </ui5-message-strip>

    <ui5-message-strip
      #error
      (close)="onHideError()"
      *ngIf="errorMessage"
      design="Negative"
      i18n
    >
      An error occurred: {{ errorMessage }}
    </ui5-message-strip>

    <ui5-label i18n for="username-input">Username: </ui5-label>
    <br />
    <ui5-input
      i18n
      [attr.readonly]="!edit ? '' : null"
      id="username-input"
      class="form-group"
      placeholder="Enter your username"
      i18n-placeholder
      formControlName="username"
    ></ui5-input>

    <br />
    <ui5-label i18n for="password-input">Password: </ui5-label>
    <br />
    <ui5-input
      i18n-placeholder
      [attr.readonly]="!edit ? '' : null"
      formControlName="password"
      id="password-input"
      class="form-group"
      type="Password"
      placeholder="Enter your password"
    ></ui5-input>

    <div class="button-container">
      <ui5-button i18n (click)="onEdit()">Edit</ui5-button>
      <ui5-button
        i18n
        (click)="onChangeUsername()"
        design="Emphasized"
        id="save-button"
        >Save</ui5-button
      >
    </div>
    <br />
    <div class="button-container">
      <ui5-button design="Negative" i18n (click)="onDeleteUser()"
        >Delete User</ui5-button
      >
    </div>
  </form>
</div>
